In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## Looking at Amenity Count vs. Price
### Goals for this step:
- normalize Price data per country 
        Airbnb Price / Price Mean per Country
-

In [2]:
df = pd.read_pickle("../../Datasets/Data_viz_project/airbnb_listings_countries.pkl")

In [3]:
df["Country"] = ["Italy" if x == "Vatican City" else x for x in df["Country"].tolist()]

### Create a column with the normalized prices

In [4]:
price_average = df.groupby("Country").agg({"Price":"mean"})

In [5]:
price_average

                     Price
Country
Australia       158.146457
Austria          65.018252
Belgium          66.674281
Canada          112.817543
China           274.000000
Denmark         599.040734
France           92.502003
Germany          57.460847
Greece           50.608991
Hong Kong       510.104206
Ireland          98.218887
Italy            91.322033
Mexico           25.000000
Netherlands     138.904601
Spain            82.767666
Switzerland     115.771951
United Kingdom   90.786223
United States   147.023786
Uruguay         237.000000
Vanuatu         110.000000

In [ ]:
df["Normalized"] = df["Price"] / price_average.loc[df["Country"]]

In [12]:
df.shape

(401765, 32)