In [1]:
import pandas as pd
import numpy as np

## Data Cleaning Step 3
#### Goals for this step
- Verify data types and change them if necessary
- Verify list of countries has unique values for each country
- Drop Countries with less than 100 listings
- Create individual data frames for countries, and one for USA

In [4]:
df = pd.read_csv("C:/Users/Admin/Documents/ironhack/AirBnB_data/airbnb_listings_amenity_count.csv", low_memory=False)

In [5]:
df.head()

,Unnamed: 0,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,...,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,Amenities_List,Amenity_Count
0,0,5534229,A 2 Passi da San Pietro,28697142,Veronica,100%,False,5.0,00165| Rm 00165| Italy,165,...,90,9.0,10.0,8.0,8.0,9.0,9.0,0.08,"['TV', 'Internet', 'Wireless Internet', 'Air c...",11
1,1,5903406,cosy small apartment,1853799,Veronika,88%,False,2.0,1190| Wien| Austria,1190,...,87,9.0,10.0,10.0,10.0,10.0,8.0,0.27,"['Internet', 'Wireless Internet', 'Kitchen', '...",12
2,2,5203533,Rummelig lejl i hjertet af KBH,24801534,Marianne,100%,False,1.0,Indre By| 1366| Danmark K�benhavn K| Denmark,1366,...,100,10.0,10.0,10.0,10.0,10.0,10.0,0.28,"['TV', 'Wireless Internet', 'Kitchen', 'Buzzer...",8
3,3,8858475,Modern; spacious and warm; with its own balcony,3000397,Lasse,100%,True,1.0,2150| Danmark Nordhavn| Denmark,2150,...,100,10.0,10.0,10.0,10.0,9.0,10.0,0.79,"['TV', 'Cable TV', 'Internet', 'Wireless Inter...",23
4,4,4215511,Nice room; Bohemian Cph; N�rrebro,126020,Lea,100%,True,2.0,N�rrebro| 2200| K�benhavn N 2200| Denmark,2200,...,94,10.0,10.0,9.0,10.0,10.0,10.0,1.40,"['Internet', 'Wireless Internet', 'Kitchen', '...",10

In [6]:
df.dtypes

Unnamed: 0                       int64
Listing ID                       int64
Name                            object
Host ID                          int64
Host Name                       object
Host Response Rate              object
Host Is Superhost               object
Host total listings count      float64
Street                          object
City                            object
Neighbourhood cleansed          object
State                           object
Country                         object
latitude                       float64
longitude                      float64
Property type                   object
Room type                       object
Accommodates                     int64
Bathrooms                      float64
Bedrooms                       float64
Amenities                       object
Price                          float64
Minimum nights                   int64
Maximum nights                   int64
Availability 365                 int64
Calendar last scraped           object
Number of reviews                int64
Last Review Date                object
Review Scores Rating            object
Review Scores Accuracy         float64
Review Scores Cleanliness      float64
Review Scores Checkin          float64
Review Scores Communication    float64
Review Scores Location         float64
Review Scores Value            float64
Reviews per month              float64
Amenities_List                  object
Amenity_Count                    int64
dtype: object

In [7]:
df = df.drop(columns="Unnamed: 0")

In [8]:
df.shape

(401816, 37)

### Transforming Listing ID and Host ID to string

In [9]:
df["Listing ID"] = df["Listing ID"].astype("str")

In [10]:
df["Host ID"] = df["Host ID"].astype("str")

### Transforming Host Response Rate and Review Scores Ratings to float

In [11]:
df["Host Response Rate"] = df["Host Response Rate"].str.strip("%").astype("float")

In [12]:
df = df.loc[df["Review Scores Rating"].notna()]

In [13]:
# an error occurred when trying to convert the series into float because one fo the values was a dte format,
# since it was only on 3 rows, we decidedd to drop them

df = df.loc[df["Review Scores Rating"] != "3/14/05"]

In [14]:
df["Review Scores Rating"] = df["Review Scores Rating"].astype("float")

### Transforming Host is Superhost to boolean

In [15]:
df["Host Is Superhost"] = df["Host Is Superhost"].astype("bool")

### Transforming Calendar last scraped and Last Review Date to datetime

In [16]:
df["Calendar last scraped"] = pd.to_datetime(df["Calendar last scraped"])

In [17]:
df["Last Review Date"] = pd.to_datetime(df["Last Review Date"])

In [18]:
df.dtypes

Listing ID                             object
Name                                   object
Host ID                                object
Host Name                              object
Host Response Rate                    float64
Host Is Superhost                        bool
Host total listings count             float64
Street                                 object
City                                   object
Neighbourhood cleansed                 object
State                                  object
Country                                object
latitude                              float64
longitude                             float64
Property type                          object
Room type                              object
Accommodates                            int64
Bathrooms                             float64
Bedrooms                              float64
Amenities                              object
Price                                 float64
Minimum nights                          int64
Maximum nights                          int64
Availability 365                        int64
Calendar last scraped          datetime64[ns]
Number of reviews                       int64
Last Review Date               datetime64[ns]
Review Scores Rating                  float64
Review Scores Accuracy                float64
Review Scores Cleanliness             float64
Review Scores Checkin                 float64
Review Scores Communication           float64
Review Scores Location                float64
Review Scores Value                   float64
Reviews per month                     float64
Amenities_List                         object
Amenity_Count                           int64
dtype: object

### Verifying Countries' Column

In [19]:
set(df["Country"])

{'Australia',
 'Austria',
 'Belgium',
 'Canada',
 'China',
 'Denmark',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Ireland',
 'Italy',
 'Mexico',
 'Netherlands',
 'Spain',
 'Switzerland',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Vanuatu',
 'Vatican City'}

In [20]:
df["Country"].value_counts()

United States     125695
United Kingdom     45143
France             41202
Spain              36008
Australia          28856
Canada             25358
Italy              24348
Denmark            16111
Netherlands        15659
Germany            15124
Austria             7289
Belgium             5735
Ireland             5234
Hong Kong           4453
Greece              3828
Switzerland         1699
China                 17
Vatican City           2
Mexico                 2
Uruguay                1
Vanuatu                1
Name: Country, dtype: int64

### Dropping China, Mexico, Vanuatu, Uruguay

In [21]:
df = df[~df["Country"].isin(["China", "Mexico", "Uruguay", "Vanuatu"])]

In [22]:
df["Country"].value_counts()

United States     125695
United Kingdom     45143
France             41202
Spain              36008
Australia          28856
Canada             25358
Italy              24348
Denmark            16111
Netherlands        15659
Germany            15124
Austria             7289
Belgium             5735
Ireland             5234
Hong Kong           4453
Greece              3828
Switzerland         1699
Vatican City           2
Name: Country, dtype: int64

### Changing Vatican City to Italy

In [23]:
df["Country"] = ["Italy" if x == "Vatican City" else x for x in df["Country"].tolist()]

In [24]:
df["Country"].value_counts()

United States     125695
United Kingdom     45143
France             41202
Spain              36008
Australia          28856
Canada             25358
Italy              24350
Denmark            16111
Netherlands        15659
Germany            15124
Austria             7289
Belgium             5735
Ireland             5234
Hong Kong           4453
Greece              3828
Switzerland         1699
Name: Country, dtype: int64

### Removing review scores with 0 values

In [25]:
df = df[df["Review Scores Rating"] != 0].reset_index(drop=True)

In [26]:
df

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,Neighbourhood cleansed,...,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,Amenities_List,Amenity_Count
0,5534229,A 2 Passi da San Pietro,28697142,Veronica,100.0,False,5.0,00165| Rm 00165| Italy,165,XIII Aurelia,...,90.0,9.0,10.0,8.0,8.0,9.0,9.0,0.08,"['TV', 'Internet', 'Wireless Internet', 'Air c...",11
1,5903406,cosy small apartment,1853799,Veronika,88.0,False,2.0,1190| Wien| Austria,1190,D�bling,...,87.0,9.0,10.0,10.0,10.0,10.0,8.0,0.27,"['Internet', 'Wireless Internet', 'Kitchen', '...",12
2,5203533,Rummelig lejl i hjertet af KBH,24801534,Marianne,100.0,False,1.0,Indre By| 1366| Danmark K�benhavn K| Denmark,1366,Indre By,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.28,"['TV', 'Wireless Internet', 'Kitchen', 'Buzzer...",8
3,8858475,Modern; spacious and warm; with its own balcony,3000397,Lasse,100.0,True,1.0,2150| Danmark Nordhavn| Denmark,2150,sterbro,...,100.0,10.0,10.0,10.0,10.0,9.0,10.0,0.79,"['TV', 'Cable TV', 'Internet', 'Wireless Inter...",23
4,4215511,Nice room; Bohemian Cph; N�rrebro,126020,Lea,100.0,True,2.0,N�rrebro| 2200| K�benhavn N 2200| Denmark,2200,Nrrebro,...,94.0,10.0,10.0,9.0,10.0,10.0,10.0,1.40,"['Internet', 'Wireless Internet', 'Kitchen', '...",10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385034,20810636,Modern Apartment in a Great Location!,149230231,Ricardo And Jessi,100.0,False,1.0,MA| MA| United States,NaN,Allston,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,6.00,"['TV', 'Wireless Internet', 'Air conditioning'...",24
385035,9563852,CHARMING STUDIO IN BARBES; NEAR MONTMARTRE,17267346,Laura,90.0,False,1.0,�le-de-France| �le-de-France| France,NaN,Buttes-Montmartre,...,96.0,10.0,9.0,10.0,10.0,9.0,9.0,1.42,"['TV', 'Internet', 'Wireless Internet', 'Kitch...",9
385036,5841088,Bright 1Bedroom Apartment & Rooftop,7260061,Diana,100.0,False,1.0,| NSW 2026| Australia,NaN,Waverley,...,97.0,10.0,9.0,9.0,10.0,10.0,9.0,0.29,"['Internet', 'Wireless Internet', 'Kitchen', '...",16
385037,12157261,Chambre douillette; appart lumineux; rue St-Jean,65286315,Catherine,50.0,False,1.0,Qu�bec| Qu�bec| Canada,NaN,Saint-Jean-Baptiste,...,94.0,9.0,9.0,10.0,10.0,10.0,9.0,2.82,"['TV', 'Wireless Internet', 'Air conditioning'...",13
385038,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,100.0,False,3.0,CA| CA| United States,Los Angeles,North Hollywood,...,90.0,10.0,9.0,10.0,10.0,10.0,10.0,0.38,"['TV', 'Cable TV', 'Internet', 'Wireless Inter...",21

### Exporting final clean datas to a pickle

1. Countries data set

In [27]:
df.columns

Index(['Listing ID', 'Name', 'Host ID', 'Host Name', 'Host Response Rate',
       'Host Is Superhost', 'Host total listings count', 'Street', 'City',
       'Neighbourhood cleansed', 'State', 'Country', 'latitude', 'longitude',
       'Property type', 'Room type', 'Accommodates', 'Bathrooms', 'Bedrooms',
       'Amenities', 'Price', 'Minimum nights', 'Maximum nights',
       'Availability 365', 'Calendar last scraped', 'Number of reviews',
       'Last Review Date', 'Review Scores Rating', 'Review Scores Accuracy',
       'Review Scores Cleanliness', 'Review Scores Checkin',
       'Review Scores Communication', 'Review Scores Location',
       'Review Scores Value', 'Reviews per month', 'Amenities_List',
       'Amenity_Count'],
      dtype='object')

In [28]:
df_countries = df[['Listing ID', 'Name', 'Host ID', 'Host Name', 'Host Response Rate'
                  ,'Host Is Superhost', 'Host total listings count', 'Country', 'latitude'
                  , 'longitude','Property type', 'Room type', 'Accommodates', 'Bathrooms', 'Bedrooms'
                  , 'Amenities', 'Price', 'Minimum nights', 'Maximum nights', 'Availability 365'
                  , 'Calendar last scraped', 'Number of reviews', 'Last Review Date', 'Review Scores Rating'
                  , 'Review Scores Accuracy', 'Review Scores Cleanliness', 'Review Scores Checkin'
                  , 'Review Scores Communication', 'Review Scores Location', 'Review Scores Value'
                  , 'Reviews per month', 'Amenity_Count']]

In [29]:
df_countries.head()

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Country,latitude,longitude,...,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,Amenity_Count
0,5534229,A 2 Passi da San Pietro,28697142,Veronica,100.0,False,5.0,Italy,41.895878,12.454430,...,2015-08-29,90.0,9.0,10.0,8.0,8.0,9.0,9.0,0.08,11
1,5903406,cosy small apartment,1853799,Veronika,88.0,False,2.0,Austria,48.246033,16.340743,...,2017-09-09,87.0,9.0,10.0,10.0,10.0,10.0,8.0,0.27,12
2,5203533,Rummelig lejl i hjertet af KBH,24801534,Marianne,100.0,False,1.0,Denmark,55.681579,12.562770,...,2016-07-26,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.28,8
3,8858475,Modern; spacious and warm; with its own balcony,3000397,Lasse,100.0,True,1.0,Denmark,55.708413,12.596737,...,2017-05-07,100.0,10.0,10.0,10.0,10.0,9.0,10.0,0.79,23
4,4215511,Nice room; Bohemian Cph; N�rrebro,126020,Lea,100.0,True,2.0,Denmark,55.687506,12.558365,...,2017-05-08,94.0,10.0,10.0,9.0,10.0,10.0,10.0,1.40,10

In [30]:
# df_countries.to_pickle("C:/Users/Admin/Documents/ironhack/AirBnB_data/airbnb_listings_countries.pkl")

2. US data set

In [31]:
df_usa = df[df["Country"] == "United States"].reset_index(drop=True)

In [32]:
df_usa = df_usa[['Listing ID', 'Name', 'Host ID', 'Host Name', 'Host Response Rate',
               'Host Is Superhost', 'Host total listings count', 'Street', 'City',
               'Neighbourhood cleansed', 'State', 'Country', 'latitude', 'longitude',
               'Property type', 'Room type', 'Accommodates', 'Bathrooms', 'Bedrooms',
               'Amenities', 'Price', 'Minimum nights', 'Maximum nights',
               'Availability 365', 'Calendar last scraped', 'Number of reviews',
               'Last Review Date', 'Review Scores Rating', 'Review Scores Accuracy',
               'Review Scores Cleanliness', 'Review Scores Checkin',
               'Review Scores Communication', 'Review Scores Location',
               'Review Scores Value', 'Reviews per month',
               'Amenity_Count']]

In [33]:
df_usa.head()

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,Neighbourhood cleansed,...,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,Amenity_Count
0,4581256,Beacon hill small bedroom (__),20448703,Jennifer,94.0,False,5.0,S Morgan St| ___| WA 98108| United States,___,Mid-Beacon Hill,...,2015-11-03,89.0,10.0,10.0,9.0,9.0,9.0,9.0,2.10,12
1,3967592,Minutes to Boston-Near Beach 71-3,20551003,May,100.0,False,17.0,___| MA| United States,___,East Boston,...,2017-09-18,95.0,10.0,10.0,9.0,9.0,9.0,10.0,0.95,17
2,12205354,Artsy apartment near Moscone Center,65392037,Alex,100.0,False,1.0,___| CA| United States,San Francisco,South of Market,...,2017-09-25,92.0,9.0,9.0,10.0,10.0,9.0,9.0,5.22,23
3,3230382,Large master bedroom & covered patio; __________,15878447,Betty,100.0,True,9.0,___| CA 91755| United States,Los Angeles,Monterey Park,...,2016-12-28,95.0,10.0,9.0,9.0,10.0,10.0,9.0,1.11,14
4,10491563,___downtown____soma__loft_____,48920457,Margarita,100.0,False,1.0,___| CA| United States,San Francisco,Financial District,...,2016-06-15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.24,4

In [34]:
# df_usa.to_pickle("C:/Users/Admin/Documents/ironhack/AirBnB_data/airbnb_listings_usa.pkl")

3. Amenities data set

In [59]:
amenities = df["Amenities"].str.split(";")

In [60]:
amenities_count = []

for amenity in amenities:
    for i in range(len(amenity)):
        amenities_count.append(amenity[i])

In [61]:
amenities_df = pd.DataFrame(amenities_count)[0].value_counts()

In [62]:
amenities_df

Wireless Internet      369416
Kitchen                356725
Heating                352303
Essentials             339938
Washer                 284751
                        ...
Toilet paper                1
Body soap                   1
Hand or paper towel         1
Hand soap                   1
Bath towel                  1
Name: 0, Length: 152, dtype: int64

We will only use the Top 100 amenities

In [63]:
amenities_df = amenities_df.head(100)

In [64]:
amenities_top = amenities_df.reset_index().rename(columns={"index":"amenity"})["amenity"]

Creating blank amenities data frame

In [65]:
amenities_df = pd.DataFrame(columns=(amenities_top), index=range(df.shape[0]))

In [66]:
amenities_df

amenity,Wireless Internet,Kitchen,Heating,Essentials,Washer,TV,Internet,Hangers,Shampoo,Smoke detector,...,Well-lit path to entrance,Single level home,Babysitter recommendations,BBQ grill,Other pet(s),Smoking Allowed,Smart lock,Suitable for Events,Ethernet connection,Baby bath
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
for i in range(df.shape[0]):
    for j in amenities:
        for k in j:
            if k in amenities_df.columns:
                amenities_df.loc[i, k] = 1
            else:
                amenities_df.loc[i, k] = 0

KeyboardInterrupt:

In [67]:
rows = range(df.shape[0])

def amenities_func(row, df, amenities):
    for i in amenities[row]:
        if i in df.columns:
            df.loc[row, i] = 1
    return df

In [68]:
amenities_func(0, amenities_df, amenities)

amenity,Wireless Internet,Kitchen,Heating,Essentials,Washer,TV,Internet,Hangers,Shampoo,Smoke detector,...,Well-lit path to entrance,Single level home,Babysitter recommendations,BBQ grill,Other pet(s),Smoking Allowed,Smart lock,Suitable for Events,Ethernet connection,Baby bath
0,1,NaN,1,1,NaN,1,1,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
amenities[0]

['TV',
 'Internet',
 'Wireless Internet',
 'Air conditioning',
 'Smoking allowed',
 'Pets allowed',
 'Heating',
 'First aid kit',
 'Fire extinguisher',
 'Essentials',
 'Shampoo']

In [71]:
amenities_df.sum(axis=1)

0         11.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
385034     0.0
385035     0.0
385036     0.0
385037     0.0
385038     0.0
Length: 385039, dtype: float64

In [87]:
for i in range(1000):
    amenities_df = amenities_func(i, amenities_df, amenities)

In [88]:
amenities_df

amenity,Wireless Internet,Kitchen,Heating,Essentials,Washer,TV,Internet,Hangers,Shampoo,Smoke detector,...,Well-lit path to entrance,Single level home,Babysitter recommendations,BBQ grill,Other pet(s),Smoking Allowed,Smart lock,Suitable for Events,Ethernet connection,Baby bath
0,1,NaN,1,1,NaN,1,1,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1,NaN,NaN,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,1,1,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,1,1,NaN,NaN,1,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
for i in range(rows):
    amenities_df = amenities_func(i, amenities_df, amenities)

In [96]:
rows_index = 0

while rows_index < 385039:
    for i in range(rows_index, rows_index+1000):
        amenities_df = amenities_func(i, amenities_df, amenities)
rows_index + 1000

KeyboardInterrupt:

In [97]:
amenities_df.columns[0]

'Wireless Internet'

In [ ]:
for i in amenities:
    if amenities_df.columns[0] in i:

In [100]:
amenities_97q = []

for i in amenities:
    if len(i) <=30:
        amenities_97q.append(i)
        
len(amenities_97q)

375701

In [104]:
countries = list(set(df["Country"]))

In [108]:
uk_df = df.loc[np.where(df["Country"] == countries[0])]

In [111]:
uk_df.index

Int64Index([    15,     31,     38,     39,     49,     50,     61,     63,
                72,     82,
            ...
            384904, 384922, 384928, 384936, 384937, 384965, 384976, 384998,
            385018, 385022],
           dtype='int64', length=45143)

In [114]:
for i in uk_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities)