In [4]:
import pandas as pd
import mumpy as np
import pymysql
import getpass

In [5]:
# Import dataset into pandas dataframe

In [6]:
conn = pymysql.connect(host="localhost",
                       port=3306,
                       user="root",
                       passwd=getpass.getpass(),
                       db="airbnb")

········

In [7]:
pd.read_sql("SELECT * FROM airbnb_ratings_new LIMIT 10", conn)

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,Neighbourhood cleansed,...,Number of reviews,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month
0,13588243,Designer Urban Living - 2BR 1200sq,4386046,Chris,90%,FALSE,3,Lau Li Street| 0| Hong Kong Island 0| Hong Kong,0,Wan Chai,...,0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5534229,A 2 Passi da San Pietro,28697142,Veronica,100%,FALSE,5,00165| Rm 00165| Italy,165,XIII Aurelia,...,2,8/29/15,90,9.0,10.0,8.0,8.0,9.0,9.0,0.08
2,18417052,Appartement pr�s m�tro Simonis,81453949,Kristina,100%,FALSE,2,1081| Koekelberg 1081| Belgium,1081,Koekelberg,...,0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5903406,cosy small apartment,1853799,Veronika,88%,FALSE,2,1190| Wien| Austria,1190,D�bling,...,3,9/9/17,87,9.0,10.0,10.0,10.0,10.0,8.0,0.27
4,5203533,Rummelig lejl i hjertet af KBH,24801534,Marianne,100%,FALSE,1,Indre By| 1366| Danmark K�benhavn K| Denmark,1366,Indre By,...,6,7/26/16,100,10.0,10.0,10.0,10.0,10.0,10.0,0.28
5,15707299,Spacious charming art deco getaway,28431813,Linda & Cameron,100%,FALSE,1,2095| Manly| Australia,2095,Manly,...,0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8858475,Modern; spacious and warm; with its own balcony,3000397,Lasse,100%,TRUE,1,2150| Danmark Nordhavn| Denmark,2150,sterbro,...,15,5/7/17,100,10.0,10.0,10.0,10.0,9.0,10.0,0.79
7,4215511,Nice room; Bohemian Cph; N�rrebro,126020,Lea,100%,TRUE,2,N�rrebro| 2200| K�benhavn N 2200| Denmark,2200,Nrrebro,...,45,5/8/17,94,10.0,10.0,9.0,10.0,10.0,10.0,1.40
8,13762795,Hyggeligt hel�rshus i sk�n koloni,11932299,Stine,100%,FALSE,1,2300| Amager 2300| Denmark,2300,Amager Vest,...,0,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7272969,Cozy Apartment close to city center with balcony,28909565,Christian,N/A,FALSE,1,Islands Brygge| 2300| K�benhavn K�benhavn S| D...,2300,Amager Vest,...,2,7/24/16,70,7.0,5.0,10.0,10.0,10.0,7.0,0.18

In [8]:
pd.read_sql("SELECT * FROM airbnb_ratings_new LIMIT 10", conn).dtypes

Listing ID                       int64
Name                            object
Host ID                          int64
Host Name                       object
Host Response Rate              object
Host Is Superhost               object
Host total listings count        int64
Street                          object
City                            object
Neighbourhood cleansed          object
State                           object
Country                         object
latitude                       float64
longitude                      float64
Property type                   object
Room type                       object
Accommodates                     int64
Bathrooms                      float64
Bedrooms                         int64
Amenities                       object
Price                          float64
Minimum nights                   int64
Maximum nights                   int64
Availability 365                 int64
Calendar last scraped           object
Number of reviews                int64
Last Review Date                object
Review Scores Rating            object
Review Scores Accuracy         float64
Review Scores Cleanliness      float64
Review Scores Checkin          float64
Review Scores Communication    float64
Review Scores Location         float64
Review Scores Value            float64
Reviews per month              float64
dtype: object

In [ ]:
# count null values

In [ ]:
''' 
- SQL -
USE airbnb;
CREATE TABLE listings_withOUT_rating
SELECT `Listing ID`, `Review Scores Rating`, `Last Review Date`
FROM airbnb_ratings_new
WHERE `Last Review Date` IS NULL;
'''
# 634,891 rows

In [ ]:
# remove empty rows, remove rows with null and 0 review scores
'''
USE airbnb;
CREATE TABLE listings_with_rating
SELECT *
FROM airbnb_ratings_new
WHERE `Last Review Date` IS NOT NULL;
'''
# 412,068 rows

In [10]:
pd.read_sql("SELECT * FROM listings_with_rating", conn)

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,Neighbourhood cleansed,...,Number of reviews,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month
0,5534229,A 2 Passi da San Pietro,28697142,Veronica,100%,FALSE,5.0,00165| Rm 00165| Italy,165,XIII Aurelia,...,2,8/29/15,90,9.0,10.0,8.0,8.0,9.0,9.0,0.08
1,5903406,cosy small apartment,1853799,Veronika,88%,FALSE,2.0,1190| Wien| Austria,1190,D�bling,...,3,9/9/17,87,9.0,10.0,10.0,10.0,10.0,8.0,0.27
2,5203533,Rummelig lejl i hjertet af KBH,24801534,Marianne,100%,FALSE,1.0,Indre By| 1366| Danmark K�benhavn K| Denmark,1366,Indre By,...,6,7/26/16,100,10.0,10.0,10.0,10.0,10.0,10.0,0.28
3,8858475,Modern; spacious and warm; with its own balcony,3000397,Lasse,100%,TRUE,1.0,2150| Danmark Nordhavn| Denmark,2150,sterbro,...,15,5/7/17,100,10.0,10.0,10.0,10.0,9.0,10.0,0.79
4,4215511,Nice room; Bohemian Cph; N�rrebro,126020,Lea,100%,TRUE,2.0,N�rrebro| 2200| K�benhavn N 2200| Denmark,2200,Nrrebro,...,45,5/8/17,94,10.0,10.0,9.0,10.0,10.0,10.0,1.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412063,20810636,Modern Apartment in a Great Location!,149230231,Ricardo And Jessi,100%,FALSE,1.0,MA| MA| United States,None,Allston,...,6,9/24/17,100,10.0,10.0,10.0,10.0,10.0,10.0,6.00
412064,9563852,CHARMING STUDIO IN BARBES; NEAR MONTMARTRE,17267346,Laura,90%,FALSE,1.0,�le-de-France| �le-de-France| France,None,Buttes-Montmartre,...,22,3/10/17,96,10.0,9.0,10.0,10.0,9.0,9.0,1.42
412065,5841088,Bright 1Bedroom Apartment & Rooftop,7260061,Diana,100%,FALSE,1.0,| NSW 2026| Australia,None,Waverley,...,7,1/1/17,97,10.0,9.0,9.0,10.0,10.0,9.0,0.29
412066,12157261,Chambre douillette; appart lumineux; rue St-Jean,65286315,Catherine,50%,FALSE,1.0,Qu�bec| Qu�bec| Canada,None,Saint-Jean-Baptiste,...,41,6/18/17,94,9.0,9.0,10.0,10.0,10.0,9.0,2.82
412067,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,100%,FALSE,3.0,CA| CA| United States,Los Angeles,North Hollywood,...,5,1/23/17,90,10.0,9.0,10.0,10.0,10.0,10.0,0.38

In [12]:
lwr=pd.read_sql("SELECT * FROM listings_with_rating", conn)

Listing ID                       int64
Name                            object
Host ID                          int64
Host Name                       object
Host Response Rate              object
Host Is Superhost               object
Host total listings count      float64
Street                          object
City                            object
Neighbourhood cleansed          object
State                           object
Country                         object
latitude                       float64
longitude                      float64
Property type                   object
Room type                       object
Accommodates                     int64
Bathrooms                      float64
Bedrooms                       float64
Amenities                       object
Price                          float64
Minimum nights                   int64
Maximum nights                   int64
Availability 365                 int64
Calendar last scraped           object
Number of reviews                int64
Last Review Date                object
Review Scores Rating            object
Review Scores Accuracy         float64
Review Scores Cleanliness      float64
Review Scores Checkin          float64
Review Scores Communication    float64
Review Scores Location         float64
Review Scores Value            float64
Reviews per month              float64
dtype: object

In [35]:
lwr.to_pickle("./data/lwr.pkl")

ValueError: Unrecognized compression type: infer

In [13]:
lwr.dtypes

Listing ID                       int64
Name                            object
Host ID                          int64
Host Name                       object
Host Response Rate              object
Host Is Superhost               object
Host total listings count      float64
Street                          object
City                            object
Neighbourhood cleansed          object
State                           object
Country                         object
latitude                       float64
longitude                      float64
Property type                   object
Room type                       object
Accommodates                     int64
Bathrooms                      float64
Bedrooms                       float64
Amenities                       object
Price                          float64
Minimum nights                   int64
Maximum nights                   int64
Availability 365                 int64
Calendar last scraped           object
Number of reviews                int64
Last Review Date                object
Review Scores Rating            object
Review Scores Accuracy         float64
Review Scores Cleanliness      float64
Review Scores Checkin          float64
Review Scores Communication    float64
Review Scores Location         float64
Review Scores Value            float64
Reviews per month              float64
dtype: object

In [ ]:
# create subset of listings with ratings IN the United States

In [ ]:
'''
USE airbnb;
CREATE TABLE listings_with_rating_USA
SELECT *
FROM listings_with_rating
WHERE Country =  'United States
'''
# 128,713 rows

In [17]:
pd.read_sql("SELECT * FROM listings_with_rating_usa", conn)

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,Neighbourhood cleansed,...,Number of reviews,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month
0,4581256,Beacon hill small bedroom (__),20448703,Jennifer,94%,FALSE,5.0,S Morgan St| ___| WA 98108| United States,___,Mid-Beacon Hill,...,27,11/3/15,89,10.0,10.0,9.0,9.0,9.0,9.0,2.10
1,3967592,Minutes to Boston-Near Beach 71-3,20551003,May,100%,FALSE,17.0,___| MA| United States,___,East Boston,...,4,9/18/17,95,10.0,10.0,9.0,9.0,9.0,10.0,0.95
2,12205354,Artsy apartment near Moscone Center,65392037,Alex,100%,FALSE,1.0,___| CA| United States,San Francisco,South of Market,...,94,9/25/17,92,9.0,9.0,10.0,10.0,9.0,9.0,5.22
3,11085215,_________,57460111,Robin,NA,FALSE,3.0,___| CA 91746| United States,Los Angeles,West Puente Valley,...,0,NA,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,3230382,Large master bedroom & covered patio; __________,15878447,Betty,100%,TRUE,9.0,___| CA 91755| United States,Los Angeles,Monterey Park,...,38,12/28/16,95,10.0,9.0,9.0,10.0,10.0,9.0,1.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128708,765389,Loft style condo in Sherman Oaks,2200799,Tommy,NA,FALSE,1.0,CA| CA 91423| United States,Los Angeles,Sherman Oaks,...,0,NA,0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
128709,8867269,Studio apartment in west campus,25507803,Marle,N/A,FALSE,1.0,Leon Street| Austin| TX| United States,None,78705,...,5,11/12/16,90,10.0,9.0,10.0,10.0,9.0,10.0,0.30
128710,19824378,Private 2 Bedroom Luxury Townhouse; Chestnut Hill,133582807,Taylor,100%,FALSE,1.0,MA| MA| United States,None,West Roxbury,...,10,10/1/17,100,10.0,10.0,10.0,10.0,10.0,10.0,3.95
128711,20810636,Modern Apartment in a Great Location!,149230231,Ricardo And Jessi,100%,FALSE,1.0,MA| MA| United States,None,Allston,...,6,9/24/17,100,10.0,10.0,10.0,10.0,10.0,10.0,6.00
128712,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,100%,FALSE,3.0,CA| CA| United States,Los Angeles,North Hollywood,...,5,1/23/17,90,10.0,9.0,10.0,10.0,10.0,10.0,0.38

In [18]:
lwr_usa=pd.read_sql("SELECT * FROM listings_with_rating_usa", conn)

In [19]:
lwr_usa.dtypes

Listing ID                       int64
Name                            object
Host ID                          int64
Host Name                       object
Host Response Rate              object
Host Is Superhost               object
Host total listings count      float64
Street                          object
City                            object
Neighbourhood cleansed          object
State                           object
Country                         object
latitude                       float64
longitude                      float64
Property type                   object
Room type                       object
Accommodates                     int64
Bathrooms                      float64
Bedrooms                       float64
Amenities                       object
Price                          float64
Minimum nights                   int64
Maximum nights                   int64
Availability 365                 int64
Calendar last scraped           object
Number of reviews                int64
Last Review Date                object
Review Scores Rating            object
Review Scores Accuracy         float64
Review Scores Cleanliness      float64
Review Scores Checkin          float64
Review Scores Communication    float64
Review Scores Location         float64
Review Scores Value            float64
Reviews per month              float64
dtype: object

In [20]:
# create subset of listings with ratings  OUTSIDE of the United States

In [21]:
'''
USE airbnb;
CREATE TABLE listings_with_rating_international
SELECT *
FROM listings_with_rating
WHERE Country <> 'United States'
'''
# 283,355 rows

"\nUSE airbnb;\nCREATE TABLE listings_with_rating_international\nSELECT *\nFROM listings_with_rating\nWHERE Country <> 'United States'\n"

In [23]:
pd.read_sql("SELECT * FROM listings_with_rating_international", conn)

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,Neighbourhood cleansed,...,Number of reviews,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month
0,5534229,A 2 Passi da San Pietro,28697142,Veronica,100%,FALSE,5.0,00165| Rm 00165| Italy,165,XIII Aurelia,...,2,8/29/15,90,9.0,10.0,8.0,8.0,9.0,9.0,0.08
1,5903406,cosy small apartment,1853799,Veronika,88%,FALSE,2.0,1190| Wien| Austria,1190,D�bling,...,3,9/9/17,87,9.0,10.0,10.0,10.0,10.0,8.0,0.27
2,5203533,Rummelig lejl i hjertet af KBH,24801534,Marianne,100%,FALSE,1.0,Indre By| 1366| Danmark K�benhavn K| Denmark,1366,Indre By,...,6,7/26/16,100,10.0,10.0,10.0,10.0,10.0,10.0,0.28
3,8858475,Modern; spacious and warm; with its own balcony,3000397,Lasse,100%,TRUE,1.0,2150| Danmark Nordhavn| Denmark,2150,sterbro,...,15,5/7/17,100,10.0,10.0,10.0,10.0,9.0,10.0,0.79
4,4215511,Nice room; Bohemian Cph; N�rrebro,126020,Lea,100%,TRUE,2.0,N�rrebro| 2200| K�benhavn N 2200| Denmark,2200,Nrrebro,...,45,5/8/17,94,10.0,10.0,9.0,10.0,10.0,10.0,1.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283350,11433525,Comfort Room Free WIFI,45807402,Hiu,50%,FALSE,1.0,___| | __| Hong Kong,None,Wong Tai Sin,...,2,7/7/16,100,10.0,10.0,10.0,10.0,10.0,10.0,0.61
283351,13789732,Great location Sheung Wan Cute Flat,81027884,Ambroise,100%,FALSE,1.0,| Hong Kong Island| Hong Kong,None,Central & Western,...,4,8/5/16,95,10.0,9.0,10.0,10.0,10.0,9.0,4.00
283352,9563852,CHARMING STUDIO IN BARBES; NEAR MONTMARTRE,17267346,Laura,90%,FALSE,1.0,�le-de-France| �le-de-France| France,None,Buttes-Montmartre,...,22,3/10/17,96,10.0,9.0,10.0,10.0,9.0,9.0,1.42
283353,5841088,Bright 1Bedroom Apartment & Rooftop,7260061,Diana,100%,FALSE,1.0,| NSW 2026| Australia,None,Waverley,...,7,1/1/17,97,10.0,9.0,9.0,10.0,10.0,9.0,0.29
283354,12157261,Chambre douillette; appart lumineux; rue St-Jean,65286315,Catherine,50%,FALSE,1.0,Qu�bec| Qu�bec| Canada,None,Saint-Jean-Baptiste,...,41,6/18/17,94,9.0,9.0,10.0,10.0,10.0,9.0,2.82

In [24]:
lwr_int=pd.read_sql("SELECT * FROM listings_with_rating_international", conn)

In [25]:
lwr_int.dtypes

Listing ID                       int64
Name                            object
Host ID                          int64
Host Name                       object
Host Response Rate              object
Host Is Superhost               object
Host total listings count      float64
Street                          object
City                            object
Neighbourhood cleansed          object
State                           object
Country                         object
latitude                       float64
longitude                      float64
Property type                   object
Room type                       object
Accommodates                     int64
Bathrooms                      float64
Bedrooms                       float64
Amenities                       object
Price                          float64
Minimum nights                   int64
Maximum nights                   int64
Availability 365                 int64
Calendar last scraped           object
Number of reviews                int64
Last Review Date                object
Review Scores Rating            object
Review Scores Accuracy         float64
Review Scores Cleanliness      float64
Review Scores Checkin          float64
Review Scores Communication    float64
Review Scores Location         float64
Review Scores Value            float64
Reviews per month              float64
dtype: object