In [1]:
import pandas as pd
import numpy as np

## Data Cleaning Step 3.2
#### Goals for this step
- Create an individual data frame for amenities as columns, 1 indicating True and 0 indicating False

In [2]:
df = pd.read_pickle("C:/Users/Admin/Documents/ironhack/AirBnB_data/airbnb_listings_countries.pkl")

In [3]:
df.head()

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Country,latitude,longitude,...,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,Amenity_Count
0,5534229,A 2 Passi da San Pietro,28697142,Veronica,100.0,False,5.0,Italy,41.895878,12.454430,...,2015-08-29,90.0,9.0,10.0,8.0,8.0,9.0,9.0,0.08,11
1,5903406,cosy small apartment,1853799,Veronika,88.0,False,2.0,Austria,48.246033,16.340743,...,2017-09-09,87.0,9.0,10.0,10.0,10.0,10.0,8.0,0.27,12
2,5203533,Rummelig lejl i hjertet af KBH,24801534,Marianne,100.0,False,1.0,Denmark,55.681579,12.562770,...,2016-07-26,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.28,8
3,8858475,Modern; spacious and warm; with its own balcony,3000397,Lasse,100.0,True,1.0,Denmark,55.708413,12.596737,...,2017-05-07,100.0,10.0,10.0,10.0,10.0,9.0,10.0,0.79,23
4,4215511,Nice room; Bohemian Cph; N�rrebro,126020,Lea,100.0,True,2.0,Denmark,55.687506,12.558365,...,2017-05-08,94.0,10.0,10.0,9.0,10.0,10.0,10.0,1.40,10

In [4]:
amenities = df["Amenities"].str.split(";")

In [5]:
amenities_total = []

for amenity in amenities:
    for i in range(len(amenity)):
        amenities_total.append(amenity[i])
        
amenities_total = list(set(amenities_total))
amenities_total.sort()
amenities_total

[' smooth pathway to front door',
 '24-Hour Check-in',
 '24-hour check-in',
 'Accessible-height bed',
 'Accessible-height toilet',
 'Air Conditioning',
 'Air conditioning',
 'Air purifier',
 'BBQ grill',
 'Baby bath',
 'Baby monitor',
 'Babysitter recommendations',
 'Bath towel',
 'Bathtub',
 'Bathtub with shower chair',
 'Beach essentials',
 'Beachfront',
 'Bed linens',
 'Body soap',
 'Breakfast',
 'Buzzer/Wireless Intercom',
 'Buzzer/wireless intercom',
 'Cable TV',
 'Carbon Monoxide Detector',
 'Carbon monoxide detector',
 'Cat(s)',
 'Changing table',
 'Children�s books and toys',
 'Children�s dinnerware',
 'Cleaning before checkout',
 'Coffee maker',
 'Cooking basics',
 'Crib',
 'Disabled parking spot',
 'Dishes and silverware',
 'Dishwasher',
 'Dog(s)',
 'Doorman',
 'Doorman Entry',
 'Dryer',
 'EV charger',
 'Elevator',
 'Elevator in Building',
 'Elevator in building',
 'Essentials',
 'Ethernet connection',
 'Extra pillows and blankets',
 'Family/Kid Friendly',
 'Family/kid friendly',
 'Fire Extinguisher',
 'Fire extinguisher',
 'Fireplace guards',
 'Firm matress',
 'Firm mattress',
 'First Aid Kit',
 'First aid kit',
 'Fixed grab bars for shower & toilet',
 'Flat',
 'Flat smooth pathway to front door',
 'Free Parking on Premises',
 'Free parking on premises',
 'Free parking on street',
 'Game console',
 'Garden or backyard',
 'Grab-rails for shower and toilet',
 'Ground floor access',
 'Gym',
 'Hair Dryer',
 'Hair dryer',
 'Hand or paper towel',
 'Hand soap',
 'Handheld shower head',
 'Hangers',
 'Heating',
 'High chair',
 'Host greets you',
 'Hot Tub',
 'Hot tub',
 'Hot water',
 'Hot water kettle',
 'Indoor Fireplace',
 'Indoor fireplace',
 'Internet',
 'Iron',
 'Keypad',
 'Kitchen',
 'Lake access',
 'Laptop Friendly Workspace',
 'Laptop friendly workspace',
 'Lock on Bedroom Door',
 'Lock on bedroom door',
 'Lockbox',
 'Long term stays allowed',
 'Luggage dropoff allowed',
 'Microwave',
 'Other',
 'Other pet(s)',
 'Outlet covers',
 'Oven',
 'Pack �n Play/travel crib',
 'Paid parking off premises',
 'Path to entrance lit at night',
 'Patio or balcony',
 'Pets Allowed',
 'Pets allowed',
 'Pets live on this property',
 'Pocket wifi',
 'Pool',
 'Private bathroom',
 'Private entrance',
 'Private living room',
 'Refrigerator',
 'Roll-in shower with chair',
 'Roll-in shower with shower bench or chair',
 'Room-darkening shades',
 'Safety Card',
 'Safety card',
 'Self Check-In',
 'Shampoo',
 'Single level home',
 'Ski in/Ski out',
 'Smart lock',
 'Smartlock',
 'Smoke Detector',
 'Smoke detector',
 'Smoking Allowed',
 'Smoking allowed',
 'Stair gates',
 'Step-free access',
 'Stove',
 'Suitable for Events',
 'Suitable for events',
 'TV',
 'Table corner guards',
 'Toilet paper',
 'Tub with shower bench',
 'Washer',
 'Washer / Dryer',
 'Waterfront',
 'Well-lit path to entrance',
 'Wheelchair Accessible',
 'Wheelchair accessible',
 'Wide clearance to bed',
 'Wide clearance to shower & toilet',
 'Wide clearance to shower and toilet',
 'Wide doorway',
 'Wide entryway',
 'Wide hallway clearance',
 'Window guards',
 'Wireless Internet',
 'translation missing: en.hosting_amenity_49',
 'translation missing: en.hosting_amenity_50']

There are repeated amenities that have different upper and lower cases, we will transform all amenities to lower cases in order to get unique values.

In [6]:
amenities_lower = []

for i in amenities:
    amenities_lower.append([x.lower() for x in i])

In [7]:
amenities_count = []

for amenity in amenities_lower:
    for i in range(len(amenity)):
        amenities_count.append(amenity[i])

In [8]:
amenities_df = pd.DataFrame(amenities_count)[0].value_counts()

In [9]:
amenities_df

wireless internet      363615
kitchen                351017
heating                346998
essentials             335164
washer                 279937
                        ...
hand or paper towel         1
toilet paper                1
body soap                   1
hand soap                   1
bath towel                  1
Name: 0, Length: 132, dtype: int64

We will drop unknown amenities:
- translation missing: en.hosting_amenity_49
- translation missing: en.hosting_amenity_50
- other
- other pet(s)

In [10]:
amenities_df = amenities_df.drop(index=["translation missing: en.hosting_amenity_49"
                                        , "translation missing: en.hosting_amenity_50"
                                       , "other"
                                       , "other pet(s)"])

We will only use the Top 100 amenities

In [11]:
amenities_df = amenities_df.head(100)

In [12]:
amenities_df.index

Index(['wireless internet', 'kitchen', 'heating', 'essentials', 'washer', 'tv',
       'smoke detector', 'internet', 'hangers', 'shampoo', 'hair dryer',
       'family/kid friendly', 'iron', 'laptop friendly workspace', 'dryer',
       'air conditioning', 'carbon monoxide detector', 'fire extinguisher',
       'first aid kit', 'buzzer/wireless intercom', 'cable tv',
       'free parking on premises', '24-hour check-in', 'elevator in building',
       'safety card', 'pets allowed', 'lock on bedroom door', 'breakfast',
       'smoking allowed', 'indoor fireplace', 'pets live on this property',
       'self check-in', 'wheelchair accessible', 'private entrance', 'pool',
       'hot tub', 'elevator', 'gym', 'doorman', 'suitable for events',
       'dog(s)', 'lockbox', 'cat(s)', 'refrigerator', 'dishes and silverware',
       'bed linens', 'hot water', 'cooking basics', 'stove', 'oven',
       'microwave', 'coffee maker', 'bathtub', 'dishwasher',
       'extra pillows and blankets', 'keypad', 'step-free access',
       'private living room', 'patio or balcony', 'room-darkening shades',
       'long term stays allowed', 'luggage dropoff allowed',
       'children�s books and toys', 'high chair', 'pack �n play/travel crib',
       'garden or backyard', 'host greets you', 'wide doorway', 'crib',
       'children�s dinnerware', 'doorman entry', 'well-lit path to entrance',
       'single level home', 'babysitter recommendations', 'bbq grill',
       'smart lock', 'ethernet connection', 'wide hallway clearance',
       'smartlock', 'baby bath', 'game console', 'window guards',
       'outlet covers', 'flat', ' smooth pathway to front door',
       'wide clearance to bed', 'changing table', 'accessible-height bed',
       'stair gates', 'pocket wifi', 'wide entryway', 'waterfront',
       'cleaning before checkout', 'accessible-height toilet',
       'handheld shower head', 'fireplace guards', 'baby monitor',
       'hot water kettle', 'wide clearance to shower & toilet',
       'firm mattress'],
      dtype='object')

In [13]:
amenities_top = amenities_df.reset_index().rename(columns={"index":"amenity"})["amenity"]

Creating blank amenities data frame

In [14]:
amenities_df = pd.DataFrame(columns=(amenities_top), index=range(df.shape[0]))

In [15]:
amenities_df

amenity,wireless internet,kitchen,heating,essentials,washer,tv,smoke detector,internet,hangers,shampoo,...,wide entryway,waterfront,cleaning before checkout,accessible-height toilet,handheld shower head,fireplace guards,baby monitor,hot water kettle,wide clearance to shower & toilet,firm mattress
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
rows = range(df.shape[0])

def amenities_func(row, df, amenities_lower):
    for i in amenities_lower[row]:
        if i in df.columns:
            df.loc[row, i] = 1
        else:
            continue
    return df

Verify that the function works for the first line.

In [17]:
amenities_func(0, amenities_df, amenities_lower)

amenity,wireless internet,kitchen,heating,essentials,washer,tv,smoke detector,internet,hangers,shampoo,...,wide entryway,waterfront,cleaning before checkout,accessible-height toilet,handheld shower head,fireplace guards,baby monitor,hot water kettle,wide clearance to shower & toilet,firm mattress
0,1,NaN,1,1,NaN,1,NaN,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
amenities_lower[0]

['TV',
 'Internet',
 'Wireless Internet',
 'Air conditioning',
 'Smoking allowed',
 'Pets allowed',
 'Heating',
 'First aid kit',
 'Fire extinguisher',
 'Essentials',
 'Shampoo']

In [19]:
amenities_df.sum(axis=1)[0]

11.0

It does work, so now we will do it for all rows.

In [20]:
# for i in rows:
#     amenities_df = amenities_func(i, amenities_df, amenities_lower)

Since the data set is too big, it is not completely running, we will do it seperately for each country

In [21]:
countries = list(set(df["Country"]))

In [22]:
countries.sort()
countries

['Australia',
 'Austria',
 'Belgium',
 'Canada',
 'Denmark',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Ireland',
 'Italy',
 'Netherlands',
 'Spain',
 'Switzerland',
 'United Kingdom',
 'United States']

In [23]:
australia_df = df.loc[np.where(df["Country"] == countries[0])]

In [24]:
australia_df.index

Int64Index([   127,    146,    162,    205,    239,    267,    289,    292,
               303,    307,
            ...
            379000, 379002, 379003, 379009, 379013, 379016, 379018, 379024,
            379040, 379052],
           dtype='int64', length=28633)

In [25]:
for i in australia_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [26]:
austria_df = df.loc[np.where(df["Country"] == countries[1])]

for i in austria_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [27]:
belgium_df = df.loc[np.where(df["Country"] == countries[2])]

for i in belgium_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [28]:
canada_df = df.loc[np.where(df["Country"] == countries[3])]

for i in canada_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [29]:
denmark_df = df.loc[np.where(df["Country"] == countries[4])]

for i in denmark_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [30]:
france_df = df.loc[np.where(df["Country"] == countries[5])]

for i in france_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [31]:
germany_df = df.loc[np.where(df["Country"] == countries[6])]

for i in germany_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [32]:
greece_df = df.loc[np.where(df["Country"] == countries[7])]

for i in greece_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [33]:
hk_df = df.loc[np.where(df["Country"] == countries[8])]

for i in hk_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [34]:
ireland_df = df.loc[np.where(df["Country"] == countries[9])]

for i in ireland_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [35]:
italy_df = df.loc[np.where(df["Country"] == countries[10])]

for i in italy_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [36]:
netherlands_df = df.loc[np.where(df["Country"] == countries[11])]

for i in netherlands_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [37]:
spain_df = df.loc[np.where(df["Country"] == countries[12])]

for i in spain_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [38]:
switzerland_df = df.loc[np.where(df["Country"] == countries[13])]

for i in switzerland_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [39]:
uk_df = df.loc[np.where(df["Country"] == countries[14])]

for i in uk_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [40]:
us_df = df.loc[np.where(df["Country"] == countries[15])]

for i in us_df.index:
    amenities_df = amenities_func(i, amenities_df, amenities_lower)

In [41]:
amenities_df

amenity,wireless internet,kitchen,heating,essentials,washer,tv,smoke detector,internet,hangers,shampoo,...,wide entryway,waterfront,cleaning before checkout,accessible-height toilet,handheld shower head,fireplace guards,baby monitor,hot water kettle,wide clearance to shower & toilet,firm mattress
0,1,NaN,1,1,NaN,1,NaN,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1,NaN,NaN,NaN,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,1,1,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,1,1,NaN,NaN,1,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379050,1,1,1,1,1,1,1,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379051,1,1,1,1,1,1,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379052,1,1,1,1,1,NaN,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379053,1,1,1,1,1,1,1,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379054,1,1,1,NaN,1,1,1,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Verify with random rows to see if it worked

In [45]:
len(amenities_lower[379050])

24

In [44]:
amenities_df.sum(axis=1)

0         11.0
1         11.0
2          7.0
3         21.0
4         10.0
          ...
379050    24.0
379051     9.0
379052    16.0
379053    13.0
379054    21.0
Length: 379055, dtype: float64

It did work, so now we are adding the Review Scores Rating as a new column called review_score for further analysis

In [46]:
amenities_df["review_score"] = df["Review Scores Rating"]

In [48]:
amenities_df["price"] = df["Price"]

In [49]:
amenities_df.head()

amenity,wireless internet,kitchen,heating,essentials,washer,tv,smoke detector,internet,hangers,shampoo,...,cleaning before checkout,accessible-height toilet,handheld shower head,fireplace guards,baby monitor,hot water kettle,wide clearance to shower & toilet,firm mattress,review_score,price
0,1,NaN,1,1,NaN,1,NaN,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,74.0
1,1,1,1,1,NaN,NaN,NaN,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,55.0
2,1,1,1,1,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,993.0
3,1,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,697.0
4,1,1,1,1,NaN,NaN,1,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,424.0

We will fill null values with 0.

In [50]:
amenities_df = amenities_df.fillna(value=0)

In [51]:
amenities_df.head()

amenity,wireless internet,kitchen,heating,essentials,washer,tv,smoke detector,internet,hangers,shampoo,...,cleaning before checkout,accessible-height toilet,handheld shower head,fireplace guards,baby monitor,hot water kettle,wide clearance to shower & toilet,firm mattress,review_score,price
0,1,0,1,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,90.0,74.0
1,1,1,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,87.0,55.0
2,1,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,100.0,993.0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,100.0,697.0
4,1,1,1,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,94.0,424.0

In [53]:
# amenities_df.to_pickle("C:/Users/Admin/Documents/ironhack/AirBnB_data/airbnb_amenities.pkl")