In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle("C:/Users/Admin/Documents/ironhack/AirBnB_data/airbnb_listings_usa.pkl")

In [3]:
df["City"].value_counts()

Los Angeles             22699
Manhattan               15568
Brooklyn                14098
San Francisco            7025
Austin                   5683
                        ...
Takoma Park                 1
San Antonio                 1
Mills River                 1
Calumet Park                1
Portland; Oregon; US        1
Name: City, Length: 169, dtype: int64

In [4]:
df["City"]

0                   ___
1                   ___
2         San Francisco
3           Los Angeles
4         San Francisco
              ...
108306      Los Angeles
108307              NaN
108308              NaN
108309              NaN
108310      Los Angeles
Name: City, Length: 108311, dtype: object

There is still some cleaning to be done in order to remove null and non-city values.
We decided to look only into the cities that have more than 1000 listings.

In [5]:
us_cities = list(df["City"].value_counts().head(16).index)

In [6]:
us_cities

['Los Angeles',
 'Manhattan',
 'Brooklyn',
 'San Francisco',
 'Austin',
 'Washington',
 'New Orleans',
 'Chicago',
 'Nashville',
 'San Diego',
 'Boston',
 'Denver',
 'Portland',
 'Seattle',
 'Queens',
 'Oakland']

In [7]:
df_usa_cities = df[df["City"].isin(us_cities)].reset_index(drop=True)

In [8]:
df_usa_cities["City"].value_counts()

Los Angeles      22699
Manhattan        15568
Brooklyn         14098
San Francisco     7025
Austin            5683
Washington        5448
New Orleans       4439
Chicago           4426
Nashville         4376
San Diego         4322
Boston            3668
Denver            3343
Portland          3192
Seattle           3088
Queens            2962
Oakland           1216
Name: City, dtype: int64

In [9]:
# df_usa_cities.to_pickle("C:/Users/Admin/Documents/ironhack/AirBnB_data/airbnb_usa_cities.pkl")